body {
  background: rgb(0, 22, 71);
  background: linear-gradient(153deg,
      #001b33 0%,
      #2b0221 50%,
      #2b0221 100%);
}

main {
  margin: 10vh auto;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}