body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: white;
}

main {
    margin-top: 0;
}

section.tela {
    min-height: fit-content;
}

.caixas {
    gap: 10px !important;
}

.card {
    display: flex;
    flex-direction: column;
    width: 142px;
    height: 200px;
    background-color: aliceblue;
    border: none;
    overflow: hidden;
    border-radius: 9px;
    cursor: pointer;
    transition: all .5s ease;
}

.card:hover {
    transform: scale(.9);
}

.card .card-corpo {
    width: 100%;
    height: calc(100% - 30px);
    background-color: var(--color2);
}

.card .card-rodape {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-rodape p {
    text-indent: 0;
    font-size: .99rem;
}

.card .card-corpo.j-mem {
    background-image: url('../img/jogos/j-mem.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card .card-corpo.j-pa {
    background-image: url('../img/jogos/j-pa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card .card-corpo.j-li {
    background-image: url('../img/jogos/j-li.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card .card-corpo.j-hso {
    background-image: url('../img/jogos/j-hso.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media screen and (min-width: 708px) {
    .card {
        width: 180px;
        /* margin: 10px; */
    }
}