header {
    background: #0073b1;
    color: white;
}

section.tela {
    height: fit-content;
    width: 100%;
    padding: 15px;
    margin-bottom: 40px;
}

section.tela h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #005685;
}